container {
    background-color: var(--color-1);
    min-height: 100vh;
    padding-left: 220px; /* account for Sidebar */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
  }
  
  .welcome {
    text-align: center;
    color: #333;
    max-width: 600px;
  }
  
  .welcome h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--color-8);
  }
  
  .welcome p {
    font-size: 1.25rem;
    color: var(--color-7);
  }