.title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--color-text-light); 
    font-weight: bold;
  }
  
 
  .filters {
    display: flex;
    gap: 1.5rem;            
    justify-content: center;
    margin-bottom: 3rem;     
    flex-wrap: wrap;
  }
  
  
  .filters button,
  .commentBtn,
  .downloadBtn {
    background-color: rgba(255, 255, 255, 0.1); 
    color: var(--color-text-light);            
    border: 1px solid var(--color-hover);      
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 140px;
  }
  
  .filters button:hover,
  .commentBtn:hover,
  .downloadBtn:hover {
    background-color: var(--color-hover);       
    color: #fff;
    border-color: var(--color-accent);         
  }
  

  .filters button:focus,
  .commentBtn:focus,
  .downloadBtn:focus {
    outline: 3px solid var(--color-pale);       
    outline-offset: 3px;
  }
  