.container {
  min-height: 100vh;
  background-color: var(--color-bg);         /* fondo negro elegante */
  color: var(--color-text-light);            /* texto claro */
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}

.section {
  max-width: 800px;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #1A1A1A; /* gris muy oscuro para tarjetas */
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.subtitle {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: var(--color-accent);
  font-weight: 600;
}

.text {
  font-size: 1.125rem; /* ~18px accesible */
  line-height: 1.8;
  color: var(--color-text-light);
}

.list {
  list-style: disc inside;
  margin-left: 1rem;
  font-size: 1.05rem;
  line-height: 1.7;
}
