.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: var(--font-primary);
  overflow-y: auto;
}

.sidebar a {
  color: #000;
  text-decoration: none;
  margin-bottom: 1rem;
  transition: color 0.2s ease;
}

.sidebar a:hover {
  color: var(--color-2);
}

.sidebar .active {
  font-weight: bold;
  color: var(--color-3);
}
