@import url('https://fonts.googleapis.com/css2?family=Lexie+Readable&display=swap');

:root {

  --color-bg: #000;             
  --color-accent: #B76E79;          
  --color-pale: #F4E4E1;           
  --color-text-light: #DAD0CC;      
  --color-hover: #8C4E53;           
  --color-soft-bg: #EEE9E6;        

  --font-primary: 'Lexie Readable', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-bg);
  color: var(--color-text-light);
}

html {
  scroll-behavior: smooth;
}
