@import url('https://fonts.googleapis.com/css2?family=Lexie+Readable&display=swap');

:root {
  /* Nueva paleta pastel */
  --color-1: #8998DD;
  --color-2: #8EC3D9;
  --color-3: #B7E3CE;
  --color-4: #D7F4E4;
  --color-5: #FAD5E3;
  --color-6: #E8C1E8;

  /* Tipografía */
  --font-primary: 'Lexie Readable', cursive;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: #fff; /* fondos de sección serán blanco o negro según módulo */
  color: #000;            /* texto negro en fondos claros */
}

/* Scroll suave para anclas */
html {
  scroll-behavior: smooth;
}
